<!DOCTYPE html>
<html>
<head>
    <title>Mashup Service</title>
</head>
<body>
    <h2>Mashup Generator</h2>
    <form action="/mashup" method="post">
        <label>Singer Name:</label><input type="text" name="singer" required><br>
        <label>Number of Videos:</label><input type="number" name="count" min="11" required><br>
        <label>Duration (sec):</label><input type="number" name="duration" min="21" required><br>
        <label>Email Id:</label><input type="email" name="email" required><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>

